html {
    margin: 0;
}
body {
  margin: 0px;
  width: 100%;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}
p {
    color: #484848;
}
h3 {
    font-size: 24px;
    color: #484848;
}
header {
    height: 50px;
}
nav ul {
    display: flex;  
    padding: 20px; 
    background-color: white;
}
nav ul li {
    margin: 20px;
    list-style: none;
    height: 20px;
}
nav ul li a{
    color: #717171;
    font-weight: 700;
}
.fa-airbnb {
    font-size: 40px;
}
nav ul li a:hover {
    color: #222222;
    text-decoration: none;
}
.nav-2 {
    transform: translateX(-500%);
}
main {
    margin: 0 10px;
}
.main-pic {
    margin: 10px 10px 10px 10px;
    padding: 0;
}
.main-pic img {
    border-radius: 1.8rem;
    width: 100%;
    padding: 20px;
}
.heading {
    border-bottom: 1px solid rgba(225, 225, 225, 0.8);
}
.heading h1 {
    padding: 20px;
    font-size: 32px;
    font-family:  Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 700;
    margin: 0;
}
.money {
    color: red;
}
.heading p{
    margin: 0px 20px 40px 20px;
}
.heading a:hover {
    color: black;
}
.heading a {
    color: #222222;
    text-decoration: underline;
    font-size: 14px;
    font-weight: 800;
}
.detail { 
    margin: 30px 0px; 
} 
.bigger{
    font-size: 18px;
}
.form-control-lg:focus {
    border-color: black;
}
.black {
    font-weight: 800;
}
.black:hover {
    color: black;
    text-decoration: none;
}
.black:focus > .hide{
    display: inline-block;
}
.first {
    display: flex;
    flex-direction: column;
}
.hide {
    display: none;
}
.add {
    margin: 10px 0;
}
.add a{
    font-size: 14px;
    color: #222222;
}
.form-control-lg::placeholder{
    font-size: 15px;
}
select:focus {
    font-size: 15px;
}
.second {
    font-size: 16px;
    margin-top: 10px;
}
.box {
    display: inline-flex;
    flex-direction: column;
    height: 150px;
    width: 45%;
}
.box2 {
    display: inline-flex;
    flex-direction: column;
    height: 150px;
    width: 45%;
}
label {
    height: 50px;
}
input[type="checkbox"]{
    zoom: 1.7;
}
.btn-lg {
    margin:0 20px;
    width: 90%;
    height: 56px;
    color: red;
}
.item {
    margin-bottom: 90px;
}
.item h3{
  font-size: 24px;
  margin-bottom: 15px;
  font-weight: 800;
  color: #484848;
}
.item p {
    color: #484848;
}
.reason {
    margin-top: 35px;
    margin-bottom: 30px;
}
.line {
    border-top: 2px solid #484848;
    width: 80px;
    margin-bottom: 20px;
}
.container-fluid{
    padding: 0 20px;
}
.container-fluid h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 50px;
}
.fa-check-circle {
    font-size: 3rem;
    margin-bottom: 10px;
}
.div {
    margin-bottom: 30px;
}
.container h2 {
    font-weight: 900;
    font-size: 40px;
    margin-bottom: 50px;
    margin: 0 10px;
}
.div h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 50px;
}
.div p {
    color: #484848;
}
.blue {
    color: #008489;
    margin: 0 10px;
}
.blue:hover {
    color: #008489;
}
.lg {
    font-size: 18px;
}
.sm {
    font-size: 14px;
    color: #767676;
}
.btn-sm {
    height: 48px;
    width: 224px;
}
.button2 {
    margin-bottom: 90px;
}
.chose {
    line-height: 28px;
    margin: 10px;
}
.protect {
    margin: 30px 10px 50px 10px;
}
.ok {
    margin: 20px 0;
}
.image {
    margin: 20px 20px 60px 20px;
}
.image img {
    width: 327px;
    height: 327px;
    object-fit: cover;
}
.ww {
    margin-bottom: 80px;
}
.gg h3 {
    font-size: 24px;
    font-weight: 800;
    color: #484848;
    margin-top: 40px;
    margin-bottom: 20px;
}
.reform {
    font-size: 18px;
}
.tessa {
    font-size: 14px;
}
.button3 {
    margin-bottom: 80px;
}
.airbnb {
    font-size: 40px;
    font-weight: 800;
    text-size-adjust: 100%;
    margin-bottom: 40px;
}
.worse {
    margin-bottom: 50px;
}
.vheer h3{
    font-size: 24px;
}
.wpt {
    margin-bottom: 30px;
}
.ghg {
    padding: 10px;
}
.see {
    padding: 10px;
}
.mon {
    border-bottom: 1px solid rgba(225, 225, 225, 0.7);
    text-align: left;
    padding: 20px 0;
}
.hosting {
    font-size: 24px;
    font-weight: 800;
    padding: 10px;
}
.flex {
    display: flex;
    border: 1px solid rgba(225, 225, 225, 0.7);
    margin-bottom: 15px;
    height: 76px;
    box-shadow: 1px 1px 1px 1px rgba(225, 225, 225, 0.2);
}
.flex:hover {
    text-decoration: none;
}
.small {
    width: 76px;
    height: 76px;
    object-fit: cover;
}
.tate {
    padding: 20px;
}
.tate h3 {
    font-size: 14px;
    color: #484848;
    font-weight: 800;
    margin-bottom: 0;
}
.tate p {
    font-size: 14px;
}
.only-pc {
    display: none;
}
.pic {
    position: relative;
    display: inline-block;
    margin-bottom: 50px;
} 
.pic img{
    height: 375px;
    width: 100%;
    object-fit: cover;
}
.pic h2 {
    position: absolute;
    top: 60px;
    left: 24px;
    font-size: 38px;
    color: #FFF;
    font-weight: 600;
}
.lastbutton {
    width: 110px;
    position: absolute;
    top: 200px;
    left: 24px;
    z-index: 10;
    background: white;
}
.gray {
    background-color:#F7F7F7;
}
.items {
    border-bottom: 1px solid rgba(225,225,225, 0.7);
    display: flex;
    flex-direction: column;
}
.items p {
    font-size: 12px;
    font-weight: 800;
    padding: 10px;
    margin: 0;
}
.items a {
    color: #222222;
    font-size: 14px;
    padding: 7px;
}
.items a:hover {
    color: #222222;
}
@media screen and (min-width: 1000px) {
header {
    height: 80px;
}
.nav ul{
    padding-left: 140px;
}
.we {
    display: inline-block;
}
.nav-2 {
    transform: translateY(-500%);
    box-shadow: 0px 0px 10px 0 rgba(215,215,215, 1.0);
    padding: 0;
    background-color: white;
}
.btn-first {
    margin-left: 800px;
}
.clone-nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    transition: .3s;
    transform: translateY(-100%);
}
.is-show {
    transform: translateY(0);
}
.fa-airbnb:hover {
    background-color: #F7F7F7;
    border-radius: 50%;
}
.main-pic {
    text-align: center;
}
.main-pic img {
    height: 680px;
    width: 1360px;
    object-fit: cover;
    position: relative;
}
.sel {
    grid-template-areas: 
    "sel detail" ;
    height: 482px;
    position: absolute;
    top: 380px;
    right: 200px;
    background-color: white;
    display: flex;
    flex-direction: row;
    border-radius: 0.8rem;
    box-shadow: 0px 3px 15px rgba(225,225,225, 0.4);
}
.heading {
    width: 420px;
    padding: 40px 40px;
    border: none;
    border-right: 2px solid #F7F7F7;
}
.heading h1 {
    font-size: 42px;
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
    text-align: left;
}
.heading p {
    text-align: left;
    margin: 0;
}
.detail {
    width: 500px;
    padding: 0 48px;
    overflow: auto;
    height: 400px;
    border-right: rgba(225, 225, 225, 0.8);
    margin: 40px 0;
}
.bigger {
    text-align: left;
    margin-bottom: 30px;
}
.add {
    margin-bottom: 20px;
}
.item {
    margin-top: 137px;
    width: 1000px;
    margin-right: 0;
}
.reason {
    margin: 20px 0 20px 0;
    padding: 0 30px;
}
.security {
    margin: 20px;
}
.line {
    display: inline-block;
    margin-left: 500px;
}
.container-fluid {
    text-align: center;
    margin: 0 220px;
}
.container-fluid h2 {
    font-size: 60px;
}
.container-fluid h3 {
    color: #484848;
}
.div {
    width: 300px;
    padding: 40px;
}
.check {
    text-align: left;
}
.div h3 {
    color: #484848;
    margin-bottom: 30px;
}
.fa-check-circle {
    color: #484848;
}
.roll {
    margin-bottom: 150px;
}
.lg {
    font-size: 32px;
    width: 430px;
    margin-top: 70px;
    height: 240px;
    line-height: 1.2;
}
.img-fluid img{
    width: 516px;
    height: 516px;
}
.container h2 {
    font-size: 60px;
    text-align: center;
    height: 150px;
}
.left {
    width: 280px;
    padding: 0;
    width: 430px;
}
.chose {
    margin: 50px 0px 20px 0;
    height: 218px;
    color: rgb(72, 72, 72);
}
.protect {
    padding: 20px; 
    text-align: left;
    margin:0 0 0 80px ;
}
.image img{
    width: 1032px;
    height: 580px;
}
.gg {
    margin-right: 30px;
}
.reform {
    font-size: 32px;
    margin-top: 80px;
    width: 433px;
}
.vheer {
    margin-top: 160px;
}
.airbnb {
    font-size: 60px;
    text-align: center;
}
.hosting {
    padding: 20px 0;
}
.flex {
    display: flex;
    flex-direction: column;
    z-index: 10;
    height: 270px;
    border: none;
    box-shadow: none;
}
.small {
    width: 335px;
    height: 170px;
    object-fit: cover;
}
.tate {
    padding: 20px 0;
}
.only-pc {
      color: #008489;
      display: inline-block;
}
.pic {
    width: 1278px;
    height: 440px;
    position: relative;
    margin-top: 50px;
    display: block;  
    margin: 65px auto;  
}
.pic img {
    height: 440px;
}
.pic h2 {
    font-size: 60px;
    width: 420px;
    position: absolute;
    top: 90px;
    left: 120px;
}
.lastbutton {
    position: absolute;
    top: 263px;
    left: 123px;
}
footer {
    background-color: #F7F7F7;
    border-top: rgba(225, 225, 225, 1);
}
.gray {
    margin: 0;
    width: auto;
}
.items a{
 padding: 0;
 margin: 5px;
}
.hhh {
    display: flex;
    flex-direction: row-reverse;
    padding-top: 30px;
}
.pri {
    margin-right: 90px;
    height: 90px;
    line-height: 1.1;
    width: 800px;
}
.pri a{
    padding: 0;
}
.sns {
    width: 240px;
}
.under {
    text-decoration: underline;
}
.fa-facebook-f {
    font-size: 20px;
}
.fa-facebook-f:hover {
    opacity: 0.8;
}
.fa-twitter {
    font-size: 20px;
}
.fa-twitter:hover {
    opacity: 0.8;
}
.fa-instagram {
    font-size: 20px;
}
.fa-instagram:hover {
    opacity: 0.8;    
}
  }